.text-block, .join-form {
    padding: 95px 0;

    color: #252525;

    .vacancy__meta {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .col:nth-child(1) {
            flex-basis: 60%;
        }
        .col:nth-child(2) {
            flex-basis: 30%;
        }
        table {
            width: 100%;
            font-size: 1.1875rem;
            font-weight: 300;
            p:not(:last-child) {
                margin-bottom: 0px;
            }
            b {
                font-weight: 500;
            }
            a {
                color: #008ba6;
                @extend %opacity-hover;
            }
            td {
                padding: 15px 0;
                border-bottom: 1px solid #e1e1e1;
            }
            td:nth-child(1) {
                width: 38%;
            }
            td:nth-child(2) {
                width: 62%;
            }
        }
    }

    .vacancy__photo {
        border: 1px solid #e1e1e1;
        margin-bottom: 50px;
        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }
    }

    .vacancy__link {
        a {
            font-weight: 500;
            color: #fff;
            text-align: center;
            width: 100%;
            display: block;
            padding: 15px 0;
            font-size: 1.25rem;
            background-color: $blue;
            @extend %blue-hover;
        }
    }

    .container {
        max-width: 1020px;
    }

    p {
        font-size: 1.1875rem;
        line-height: 1.89em;
        font-weight: 300;
        &.centered {
            text-align: center;
            max-width: 980px;
            margin-left: auto;
            margin-right: auto;
        }
        &:not(:last-child) {
            margin-bottom: 1.89em;
        }
    }

    ul li {
        font-size: 1.1875rem;
        line-height: 1.89em;
        font-weight: 300;
        position: relative;
        padding-left: 50px;
        &:before {
            content: '';
            width: 7px;
            height: 7px;
            display: block;
            position: absolute;
            border-radius: 50%;
            background-color: $orange;
            left: 21px;
            top: 16px;
        }
        &:not(:last-child) {
            margin-bottom: 1.89em;
        }
    }

    h2 {
        position: relative;
        font-weight: 700;
        color: #252525;
        line-height: 1.25em;
        font-size: 2.5rem;

        i.icon-new {
            font-size: 1.25rem;
            text-transform: uppercase;
            font-style: normal;
            color: #fff;
            padding: 5px 8px;
            background-color: #008ba6;
            margin-left: 14px;
            position: relative;
            top: -6px;
        }

        &::after {
            content: '';
            display: block;
            margin-top: 42px;
            margin-bottom: 49px;
            background-color: $orange;
            width: 150px;
            height: 7px;
        }

        &.centered {
            position: relative;
            font-weight: 700;
            color: #252525;
            line-height: 1.25em;
            font-size: 2.5rem;
            text-align: center;
            &::after {
                content: '';
                display: block;
                margin-top: 42px;
                margin-bottom: 49px;
                background-color: $orange;
                width: 150px;
                height: 7px;
                margin-left: auto;
                margin-right: auto;
            }
        }

    }

    h3 {
        margin-top: 60px;
        margin-bottom: 40px;
        font-weight: 700;
        font-size: 1.5rem;
    }

    .links-list {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: -50px;
        list-style-type: none;
        li {
            padding-left: 0;
            width: calc( (100% - 80px)/2 );
            margin-bottom: 50px;
            font-size: 1.5rem;
            color: $blue;
            font-weight: 700;
            &:before {
                display: none;
            }
            a {
                color: $blue;
                display: block;
                width: 100%;
                padding-bottom: 15px;
                border-bottom: 6px solid $blue;
                @extend %opacity-hover;
            }
        }
    }

    .two-links {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        margin-bottom: 100px;
    }

    .two-links__item {
        width: calc( (100% - 60px)/2 );
        background-color: #3a5575;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 45px 100px;
        text-align: center;
        &-title {
            margin-bottom: 25px;
            font-size: 2.1875rem;
        }
        &-desc {
            font-size: 0.875rem;
            line-height: 1.57em;
            font-weight: 300;
            margin-bottom: 25px;
        }
        &-link {
            font-weight: 500;
            font-size: 1.25rem;
        }
        a {
            color: #fff;
            @extend %opacity-hover;
        }
        &--yellow {
            background-color: $orange;
            color: #252525;
            a {
                color: #252525;
            }
        }
    }

}

.atm {

    padding: 100px 0 150px 0;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;

    .container {
        max-width: 1020px;
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to left, rgba(37, 37, 37, 0) 0%, #252525 100%);
    }

    .container {
        position: relative;
        z-index: 2;
    }

    h2 {
        margin-bottom: 40px;
        font-size: 2.5rem;
        color: $orange;
        font-weight: 700;
    }

    p {
        max-width: 480px;
        font-size: 1.5rem;
        line-height: 1.6em;
        color: #fff;
        font-weight: 400;
        margin-bottom: 45px;
    }

    &__more {
        a {
            color: $orange;
            font-weight: 500;
            font-size: 1.5rem;
            svg {
                margin-right: 15px;
            }
            @extend %opacity-hover;
        }
    }

}