.aff-post {
    background-color: #e6e6e6;
    padding: 100px 0;
}

.aff-post__box {
    display: flex;
    margin-bottom: 50px;
}

.aff-post__content {
    flex-basis: 50%;
    background-color: #fff;
    padding: 40px 40px 60px 40px;
}
.aff-post__photo {
    flex-basis: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.aff-post__date {
    margin-bottom: 35px;
    color: #888;
    font-size: 0.875rem;
    span {
        color: #252525;
    }
}
.aff-post__title {
    padding-bottom: 25px;
    margin-bottom: 30px;
    border-bottom: 1px solid #b7b7b7;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.3em;
}
.aff-post__text {
    font-weight: 300;
    color: #252525;
    font-size: 1.1875rem;
    line-height: 1.9em;
    a {
        font-weight: 500;
        color: $blue;
        @extend %opacity-hover;
    }
}
.aff-post__more, .aff-cal__more {
    text-align: center;
    font-size: 1.25rem;
    a {
        color: $blue;
        font-weight: 500;
        @extend %opacity-hover;
    }
}

.aff-cal {
    padding: 100px 0;

    h2 {
        position: relative;
        font-weight: 700;
        color: #252525;
        line-height: 1.25em;
        font-size: 2.5rem;
        text-align: center;
        &::after {
            content: '';
            display: block;
            margin-top: 42px;
            margin-bottom: 49px;
            background-color: $orange;
            width: 150px;
            height: 7px;
            margin-left: auto;
            margin-right: auto;
        }
    }

}
.aff-cal__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.aff-cal__item {
    width: calc( (100% - 40px) / 3 );
    border: 1px solid #e1e1e1;
    background-color: #ffffff;
    display: flex;
    padding: 30px;
    align-items: center;
}
.aff-cal__item-date {
    color: #252525;
    margin-right: 30px;
    padding-right: 30px;
    border-right: 1px solid rgba(#252525, 0.4);
    p {
        margin-bottom: 10px;
        font-size: 3.75rem;
        color: $orange;
    }
}
.aff-cal__item-desc {
    font-weight: 700;
    color: #252525;
    line-height: 1.25em;
}