.contact {
    padding: 100px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .col:nth-child(1) {
            flex-basis: 43%;
        }
        .col:nth-child(2) {
            flex-basis: 49%;
        }
    }

    &__subtitle {
        margin-bottom: 35px;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 1.5em;
    }

    .block {
        margin-bottom: 40px;
        font-size: 1.1875rem;
        font-weight: 300;
        line-height: 1.9em;
        p {
            font-style: italic;
        }

        a {
            font-weight: 700;
            color: #008ba6;
            @extend %opacity-hover;
        }
    }

    table {
        width: 80%;
        tr {

        }
        td {
            width: 50%;
        }
    }

    h2 {
        position: relative;
        font-weight: 700;
        color: #252525;
        line-height: 1.25em;
        font-size: 2.5rem;
        &::after {
            content: '';
            display: block;
            margin-top: 42px;
            margin-bottom: 49px;
            background-color: $orange;
            width: 150px;
            height: 7px;
        }
    }

    &__desc {
        margin-bottom: 60px;
        font-size: 1.1875rem;
        font-weight: 300;
        line-height: 1.89em;
    }

    label, input[type=text], input[type=email] {
        width: 100%;
        display: block;
    }

    label {
        margin-bottom: 9px;
        font-size: 1.125rem;
        font-weight: 300;
        font-family: $lato;
    }

    input[type=text], input[type=email] {
        font-family: $lato;
        height: 50px;
        border: 1px solid #c2c2c2;
        background-color: #ffffff;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 1.125rem;
        margin-bottom: 29px;
        border-radius: 0;
    }

    textarea {
        width: 100%;
        height: 150px;
        resize: none;
        border: 1px solid #c2c2c2;
        background-color: #ffffff;
        border-radius: 0;
        margin-bottom: 30px;
        padding: 15px 30px;
        font-size: 1.125rem;
        font-family: $lato;
    }

    select {
        background-color: transparent;
        height: 50px;
        border: 1px solid #c2c2c2;
        border-radius: 0;
        width: 100%;
        -webkit-appearance: none;
        padding-left: 30px;
        font-family: $lato;
        font-weight: 300;
        cursor: pointer;
        font-size: 1.125rem;
    }

    .input-group-select {
        position: relative;
        background: #fff url('../img/icon-down.png') no-repeat center right 20px;
        margin-bottom: 29px;
    }

    .input-group-check {
        display: flex;
        margin-bottom: 45px;
        label {
            cursor: pointer;
        }
    }

    input[type=checkbox] {
        display: block;
        width: 20px;
        height: 20px;
        border: 1px solid #c2c2c2;
        background-color: #ffffff;
        margin-right: 20px;
        margin-top: 2px;
        cursor: pointer;
        transition: 120ms linear;
        &:checked {
            background-color: $blue;
        }
    }
    button {
        padding: 0 50px;
        height: 50px;
        border: 0;
        background-color: $blue;
        font-size: 1.25rem;
        color: #fff;
        text-align: center;
        font-family: $lato;
        @extend %blue-hover;
    }

}