.download {

    padding: 100px 0;

    .container {
        max-width: 1060px;
    }

}

.download__list {
    margin-bottom: 50px;
    margin-top: 95px;
}

.download__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 6px solid #e6e6e6;
    padding-bottom: 13px;
    &-title {
        font-weight: 700;
        font-size: 1.5rem;
        color: $blue;
    }
    &-link {
        display: inline-block;
        padding: 15px 0;
        background-color: $blue;
        font-size: 1.25rem;
        font-weight: 500;
        color: #fff;
        width: 175px;
        text-align: center;
        @extend %blue-hover;
    }
    &:not(:last-child) {
        margin-bottom: 45px;
    }
}

.download__back {
    a {
        font-weight: 500;
        font-size: 1.25rem;
        color: $blue;
        @extend %opacity-hover;
    }
}

.download-login {
    padding: 100px 0;
    background: $blue;
}