.footer {
    background-color: #252525;
    overflow: hidden;

    .col:not(:last-child) {
        margin-right: 100px;
    }

    a {
        @extend %opacity-hover;
    }

}

.footer__top {
    padding: 50px 0;
    color: #fff;
    a {
        color: #fff;
        font-weight: 700;
    }

    .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    p {
        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }

}

.footer__subtitle {
    margin-bottom: 8px;
    &:not(:first-child) {
        margin-top: 20px;
    }
}

.footer__logo {
    margin-right: 80px;
}

.footer__list {
    a {
        font-weight: 400;
    }
    li:not(:last-child) {
        margin-bottom: 10px;
    }
}

.footer__socials {
    font-size: 0;
    margin-left: auto;
    a {
        display: inline-block;
        vertical-align: middle;
        font-size: 20px;
        &:not(:last-child) {
            margin-right: 50px;
        }
    }
}

.footer__bottom {
    color: #fff;
    padding: 25px 0;
    border-top: 1px solid #424242;
    font-size: 0.75rem;
    .container {
        display: flex;
    }
    a {
        color: #fff;
        margin-right: 12px;
    }
}

.footer__author {
    margin-left: auto;
    a {
        color: #00aeef;
        margin-right: 0;
    }
}