.header {
    h1 {
        font-size: 5.625rem;
        line-height: 100px;
        font-weight: 400;
        color: #fff;
        position: relative;
        &:after {
            content: '';
            width: 295px;
            background-color: $orange;
            height: 6px;
            margin-top: 40px;
            margin-bottom: 45px;
            display: block;
        }
    }
}
.header__breads {
    color: #fff;
    font-size: 1.0625rem;
    span {
        margin-left: 5px;
        margin-right: 5px;
    }
    a {
        color: #fff;
    }
}
.header__top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 35px 55px 0 55px;
    display: flex;
    z-index: 5;
}
.header__logo {
    display: block;
    margin-right: 250px;
    position: relative;
    z-index: 5;
}
.header__nav {
    padding-top: 20px;
    & > ul {
        font-size: 0;
    }
}
.header__nav-link {
    display: inline-block;
    vertical-align: middle;
    &:hover {
        .header__nav-hidden {
            opacity: 1;
            visibility: visible;
        }
    }
    &:not(:last-child) {
        margin-right: 28px;
    }
    & > a {
        font-size: 1.0625rem;
        color: #fff;
        position: relative;
        z-index: 2;
    }
    svg {
        margin-left: 5px;
        position: relative;
        top: 1px;
    }
}
.header__nav-hidden {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    font-size: 0.875rem;
    left: 0;
    top: 0;
    width: 100%;
    background-color: $blue;
    padding: 115px 0;
    transition: 200ms linear;
    z-index: 1;
    .container {
        max-width: 980px;
        display: flex;
        align-items: flex-start;
    }
    .col {
        flex-basis: 25%;
        li {
            width: 100%;
        }
        a {
            display: block;
            width: 100%;
            padding: 12px 20px;
            color: #fff;
            transition: 120ms linear;
            &:hover {
                background-color: #2d435c;
                color: $orange;
            }
        }
        li:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}



.header__top-right {
    margin-left: auto;
    padding-top: 3px;
    font-size: 0;
    position: relative;
    z-index: 5;
    a {
        display: inline-block;
        vertical-align: middle;
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}
.header__top-join {
    color: #fff;
    background-color: $orange;
    border: 1px solid $orange;
    color: #363436;
    padding: 15px 65px;
    font-weight: 700;
    font-size: 1.0625rem;
    color: #252525;
    transition: 120ms linear;
    &:hover {
        background-color: darken($orange, 5%);
    }
}
.header__top-login {
    color: #fff;
    font-size: 20px;
    transition: 120ms linear;
    &:hover {
        opacity: 0.6;
    }
}
.header__top-search {
    color: #fff;
    font-size: 20px;
    transition: 120ms linear;
    &:hover {
        opacity: 0.6;
    }
}



.header__slider {

    position: relative;

    .owl-dots {
        position: absolute;
        left: 0;
        bottom: 80px;
        width: 100%;
        text-align: center;
        font-size: 0;
        .owl-dot {
            display: inline-block;
            vertical-align: middle;
            width: 15px;
            height: 15px;
            background-color: #fff;
            border: 2px solid transparent;
            border-radius: 50%;
            transition: 120ms linear;
            &:not(:last-child) {
                margin-right: 20px;
            }
            &.active, &:hover {
                background-color: $orange;
                border-color: $orange;
            }
        }
    }

}
.header__slide {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.header__slider-buttons {
    font-size: 0;
}
.header__slider-button {
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    width: 200px;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 48px;
    &:not(:last-child) {
        margin-right: 17px;
    }
    &--join {
        color: #fff;
        background-color: $orange;
        border: 1px solid $orange;
        color: #363436;
        transition: 120ms linear;
        &:hover {
            background-color: darken($orange, 5%);
        }
    }
    &--more {
        border: 1px solid #ffffff;
        color: #fff;
        transition: 120ms linear;
        &:hover {
            background-color: #fff;
            color: #252525;
        }
    }
}

.header__content {
    height: 440px;
    position: relative;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .container {
        max-width: 1020px;
    }
    &--links {
        height: 500px;
    }
    &-links {
        position: absolute;
        height: 80px;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(#000, 0.4);
        font-size: 0;
        text-align: center;
        z-index: 2;
        a {
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            line-height: 80px;
            padding-left: 60px;
            padding-right: 60px;
            font-size: 1.1875rem;
            color: #fff;
            &.active {
                background-color: rgba(#000,0.8);
                color: $orange;
            }
            @extend %opacity-hover;
        }
    }
    h1 {
        font-size: 4.125rem;
        margin-bottom: 30px;
        line-height: 1em;
        &:after {
            display: none;
        }
        span {
            border-bottom: 6px solid $orange;
            padding-bottom: 30px;
            display: inline-block;
        }
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 85%;
        opacity: 0.8;
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, #000000 100%);
        display: block;
    }
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 80%;
        opacity: 0.7;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, #000000 100%);
    }
    &--personal {
        background-color: #3a5575;
        &::before, &::after { display: none; }
    }
    .header__pattern {
        position: absolute;
        bottom: 0;
        left: 0;
        img {
            display: block;
        }
    }
    .container {
        padding-top: 185px;
        height: 100%;
        position: relative;
        z-index: 2;
    }
}
.header__burger {
    cursor: pointer;
    width: 46px;
    height: 35px;
    margin-top: 11px;
    margin-left: 30px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    span {
        height: 4px;
        width: 100%;
        background-color: #fff;
    }
    transition: 120ms linear;
    &:hover {
        opacity: 0.6;
    }
}