.home-links {
    margin-top: -55px;
    padding-bottom: 80px;
    position: relative;
    z-index: 2;
}

.home-links__list {
    max-width: 1020px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 65px;
}

.home-links__item {
    position: relative;
    width: calc( (100% - 20px)/2 );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 35%;
    margin-bottom: 20px;
    &:hover {
        &:before {
            background-color: transparent;
        }
    }
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(#000,0.1);
        transition: 200ms ease-in-out;
    }
    span {
        position: absolute;
        color: #fdfefe;
        font-size: 2.1875rem;
        line-height: 43px;
        position: absolute;
        left: 30px;
        top: 40px;
    }
}
.home-links__title {
    text-align: center;
    margin-bottom: 45px;
    font-size: 3rem;
    line-height: 60px;
    font-weight: 500;
    color: #252525;
}
.home-links__subtitle {
    font-size: 1.375rem;
    line-height: 40px;
    color: #252525;
    font-weight: 300;
    text-align: center;
}



.home-quote {

}
.home-quote__slide {
    background: url('../img/home/quote-bg.jpg') no-repeat center;
    background-size: cover;
    padding: 80px 0;
    position: relative;
}
.home-quote__photo {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-120%,0);
    img {display: block;}
    z-index: 2;
}
.home-quote__block {
    width: 580px;
    background: rgba($orange,0.8);
    padding: 40px 110px;
    color: #333333;
    margin: 0 auto;
    position: relative;
    left: 124px;
}
.home-quote__text {
    font-size: 1.73rem;
    font-weight: 500;
    letter-spacing: 0.91px;
    margin-bottom: 20px;
    position: relative;
    &:before {
        display: block;
        content: '“';
        font-size: 120px;
        color: #333333;
        font-family: Arial, sans-serif;
        margin-bottom: -60px;
    }
    &:after {
        display: block;
        content: '“';
        font-size: 120px;
        color: #333333;
        font-family: Arial, sans-serif;
        margin-bottom: -60px;
        text-align: right;
    }
    p:not(:last-child) {
        margin-bottom: 35px;
    }
}
.home-quote__meta {
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.7px;
    p {
        font-weight: 700;
        text-transform: uppercase;
    }
}


.home-info {
    padding: 100px 0;

    h2 {
        font-size: 2.125rem;
        font-weight: 500;
        color: #252525;
        position: relative;
        &:after {
            content: '';
            display: block;
            margin-top: 23px;
            margin-bottom: 60px;
            width: 150px;
            height: 7px;
            background-color: $orange;
        }
    }

    .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        max-width: 1020px;
    }
    .col {
        width: 100%;
        max-width: calc( (100% - 60px)/2 );
    }
}
.home-info__list {
    margin-bottom: 60px;
}
.home-info__item {
    border: 1px solid #e1e1e1;
    display: flex;
    min-height: 176px;
    width: 100%;
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}
.home-info__item-photo {
    min-height: 100%;
    min-width: 173px;
    background-position: center;
    background-size: cover;
}
.home-info__item-content {
    padding: 30px;
    color: #252525;
    a {
        color: #252525;
    }
}
.home-info__item-title {
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 10px;
}
.home-info__item-date {
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1.2;
}
.home-info__item-desc {
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.2;
}

.home-info__item--date {
    .home-info__item-date {
        min-width: 173px;
        padding: 30px 0 0 30px;
        min-height: 100%;
        color: #252525;
        font-size: 1.0625rem;
        position: relative;
        margin-bottom: 0;
        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0,-50%);
            height: calc(100% - 60px);
            width: 1px;
            background: rgba(#252525,0.4);
            display: block;
        }
        p {
            font-size: 3.75rem;
            color: $orange;
        }
    }
}

.home-info__more {
    font-size: 0;
    a {
        padding: 16px 40px 15px 40px;
        background-color: $blue;
        text-align: center;
        color: #fff;
        font-size: 1.25rem;
        font-weight: 500;
        @extend %blue-hover;
    }
}

.home-sub {

    padding: 70px 0;
    background: #e6e6e6;

    form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        input {
            display: block;
            flex-basis: 40%;
            background: #fff;
            border-radius: 0;
            height: 50px;
            font-family: $lato;
            border: 0;
            padding: 0 15px;
            font-size: 1.25rem;
            font-weight: 500;   
        }
        button {
            border: 0;
            border-radius: 0;
            display: block;
            flex-basis: 15%;
            padding: 14px 0;
            text-align: center;
            background-color: $blue;
            text-align: center;
            color: #fff;
            font-size: 1.125rem;
            font-weight: 500;
            font-family: $lato;
            @extend %blue-hover;
        }
    }

}

.home-sub__title {
    text-align: center;
    margin-bottom: 50px;
    color: #252525;
    font-weight: 700;
    font-size: 2.5rem;
}