.login-page {
    padding: 165px 0 100px 0;
    background: $blue;
}

.login-form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #fff;
    padding: 100px;

    .col:nth-child(1) {
        flex-basis: 49%;
    }
    .col:nth-child(2) {
        flex-basis: 38%;
    }

    h2 {
        position: relative;
        font-weight: 700;
        color: #252525;
        line-height: 1.25em;
        font-size: 2.5rem;
        &::after {
            content: '';
            display: block;
            margin-top: 42px;
            margin-bottom: 49px;
            background-color: $orange;
            width: 150px;
            height: 7px;
        }
    }

    label, input[type=text], input[type=password] {
        width: 100%;
        display: block;
    }

    label {
        margin-bottom: 9px;
        font-size: 1.125rem;
        font-weight: 300;
        font-family: $lato;
    }

    input[type=text], input[type=password] {
        font-family: $lato;
        height: 50px;
        border: 1px solid #c2c2c2;
        background-color: #ffffff;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 1.125rem;
        margin-bottom: 29px;
        border-radius: 0;
    }

    p {
        font-size: 1.1875rem;
        line-height: 1.89em;
        font-weight: 300;
        margin-bottom: 45px;
    }

    &__trouble {
        margin-bottom: 45px;
        font-style: italic;
        a {
            color: #252525;
            font-size: 1.125rem;
            @extend %opacity-hover;
        }
    }

    button, .login-form__join a {
        border: 0;
        border-radius: 0;
        display: inline-block;
        padding: 15px 50px;
        color: #fff;
        font-family: $lato;
        font-weight: 400;
        background: $blue;
        font-size: 1.25rem;
        line-height: 1;
        @extend %blue-hover;
    }

}

.join-form {
    padding: 100px;
    background-color: #fff;
}

.join-form__item {
    &:not(:last-child) {
        margin-bottom: 35px;
    }
    &.active {
        .join-form__item-top {
            background-color: $orange;
        }
        .join-form__item-status {
            span:nth-child(1) {
                background-color: #fff;
            }
            span:nth-child(2) {
                display: none;
            }
        }
        .join-form__item-hidden {
            padding: 50px 30px;
            height: auto;
            overflow: auto;
        }
        .join-form__item-number {
            color: #252525;
        }
    }
}

.join-form__item-status {
    position: relative;
    width: 14px;
    height: 14px;
    span {
        position: absolute;
    }
    span:nth-child(1) {
        width: 14px;
        height: 4px;
        background-color: $orange;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0,-50%);
    }
    span:nth-child(2) {
        width: 4px;
        height: 14px;
        background-color: $orange;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%,0);
    }
}

.join-form__item-top {
    border: 1px solid #e1e1e1;
    background-color: #ffffff;
    padding: 25px 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.join-form__item-number {
    color: $orange;
    font-size: 2.5rem;
    font-weight: 700;
    margin-right: 30px;
}

.join-form__item-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.join-form__item-status {
    margin-left: auto;
    position: relative;
}

.join-form__item-hidden {
    overflow: hidden;
    height: 0;
    padding: 0;
    background-color: #e6e6e6;
}

.join-form__radios {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.join-form__radio {
    flex-basis: 22%;
    text-align: center;
    background-color: #3a5575;
    font-family: $lato;
    color: #fff;
    font-size: 1.5rem;
    padding: 13px 0;
    line-height: 1;
    cursor: pointer;
    position: relative;
    label {
        position: relative;
        cursor: pointer;
        color: #fff;
    }
    input {
        cursor: pointer;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        &:checked {
            background-color: $orange;
        }
    }
}