.members {

	.container {
		max-width: 1220px;
	}
	
}

.members__list {
	margin-top: 100px;
	display: flex;
	justify-content: space-between;
	.col {
		width: calc( (100% - 20px)/2 );
	}
}

.members__row {
	margin-top: 20px;
}

.members__item {
	width: 100%;
	height: 484px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	padding: 70px;
	&--large {
		height: 968px;
	}
	&--wide {
		height: 485px;
		width: 100%;
	}
	&:not(:last-child) {
		margin-bottom: 20px;
	}
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: block;
		background: rgba(#000, 0.15);
		transition: 120ms linear;
	}
	& > * {
		position: relative;
	}
	&:hover {
		&:before {
			background-color: rgba(#000, 0.75);
		}
		.members__item-hidden {
			opacity: 1;
			visibility: visible;
		}
		.members__item-title {
			color: $orange;
		}
	}
}

.members__item-title {
	font-size: 2.5rem;
	color: #fff;
	font-weight: 700;
	line-height: 1.5em;
	margin-bottom: 40px;
	transition: 120ms linear;
}
.members__item-hidden {
	opacity: 0;
	visibility: hidden;
	transition: 120ms linear;
}
.members__item-desc {
	font-size: 1.5rem;
	line-height: 1.66em;
	color: #fff;
	margin-bottom: 40px;
}
.members__item-more {
	font-weight: 500;
	font-size: 1.5rem;
	svg {
		margin-right: 10px;
	}
	a {
		color: $orange;
		@extend %opacity-hover;
	}
}