.news {

	padding: 100px 0;

}
.news__categories {
	margin-bottom: 50px;
}
.news__categories form {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

    select {
        background-color: transparent;
        height: 50px;
        border: 1px solid #c2c2c2;
        width: 100%;
        -webkit-appearance: none;
        padding-left: 30px;
        font-family: $lato;
        font-weight: 300;
        cursor: pointer;
        font-size: 1.125rem;
        width: 100%;
        border-radius: 0;
    }

    .input-group-select {
        position: relative;
        background: #fff url('../img/icon-down.png') no-repeat center right 20px;
        &:nth-child(1) {
        	flex-basis: 48%;
        }
        &:nth-child(2) {
        	flex-basis: 26%;
        }
    }

    button {
    	height: 50px;
    	border-radius: 0;
    	border: 0;
    	font-family: $lato;
    	font-weight: 500;
    	color: #fff;
    	font-size: 1.25rem;
    	background-color: $blue;
    	flex-basis: 23%;
    	@extend %blue-hover;
    }

}

.news__item {
	background-color: #f3f3f3;
	&:not(:last-child) {
		margin-bottom: 20px;
	}
	.aff-post__content {
		background-color: transparent;
	}
}

.news__row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.news__postsm {
	width: calc( (100% - 40px)/3 );
	background-color: #f3f3f3;
}
.news__postsm-photo {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 72%;
}
.news__postsm-content {
	padding: 40px;
}
.news__postsm-date {
	margin-bottom: 35px;
	font-size: 0.875rem;
	color: #888;
	span {
		color: #252525;
	}
}
.news__postsm-title {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.3em;
	margin-bottom: 20px;
}
.news__postsm-more {
	a {
		font-size: 1.25rem;
		color: $blue;
		font-weight: 500;
		@extend %opacity-hover;
	}
}