.personal {
	padding: 100px 0;

	.container {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	.col:nth-child(1) {
		flex-basis: 32%;
	}

	.col:nth-child(2) {
		flex-basis: 57%;
	}

}

.personal__photo {
	img {
		display: block;
		max-width: 100%;
	}
}
.personal__name {
	margin-bottom: 25px;
	font-size: 2.5rem;
	font-weight: 700;
}
.personal__who {
	margin-bottom: 45px;
	font-size: 1.5rem;
	font-weight: 700;
}
.personal__contact {
	font-size: 1.1875rem;
	align-items: center;
	display: flex;
	margin-bottom: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	&-label {
		flex-basis: 30%;
		font-weight: 300;
	}
	&-info {
		font-weight: 500;
		a {
			color: #008ba6;
			@extend %opacity-hover;
		}
	}
}
.personal__desc {
	font-size: 1.1875rem;
	font-weight: 300;
	line-height: 1.89em;
	margin-bottom: 50px;
	p:not(:last-child) {
		margin-bottom: 1.89em;
	}
}
.personal__back {
	a {
		font-size: 1.25rem;
		font-weight: 500;
		color: $blue;
		@extend %opacity-hover;
	}
}