.resources {
	.container {
		max-width: 1020px;
	}
}

.resources__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: -20px;
}
.resources__item {
	display: flex;
	align-items: center;
	height: 125px;
	padding-left: 50px;
	padding-right: 50px;
	font-weight: 700;
	color: #fff;
	font-size: 1.5rem;
	line-height: 1.5em;
	background: #3a5575;
	width: calc( (100% - 20px)/2 );
	margin-bottom: 20px;
	@extend %blue-hover;
}