.team .container {
	max-width: 1220px;
}

.team__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: -20px;
	margin-top: 100px;
	margin-bottom: 50px;
}

.team__item {
	width: calc( (100% - 60px)/4 );
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	padding: 30px;
	display: block;
	color: #fff;
	margin-bottom: 20px;
	height: 480px;
	& > * {
		position: relative;
		z-index: 2;
	}
	&:before {
		display: block;
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(#000,0.1);
	}
	&:after {
		display: block;
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 40%;
		opacity: 0.5;
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, #000000 100%);
	}
}

.team__item-name {
	margin-bottom: 20px;
	font-size: 1.5rem;
	line-height: 1.2em;
}
.team__item-who {
	font-size: 1.1875em;
	font-weight: 300;
	line-height: 1.5em;
}