.training-filters {

	padding: 75px 0 50px 0;

	.container {
		display: flex;
		align-items: center;
		max-width: 1020px;
	}

	.dselector {
		display: flex;
		align-items: center;
		font-size: 1.875rem;
	}

	.dselector__selected {
		text-align: center;
		min-width: 350px;
		color: #252525;
		font-weight: 700;
	}

	.dselector__prev, .dselector__next {
		color: $blue;
		cursor: pointer;
	}

}

.training-filters__right {
	margin-left: auto;
	display: flex;
	align-items: center;

    select {
        background-color: transparent;
        height: 50px;
        border: 1px solid #c2c2c2;
        width: 100%;
        -webkit-appearance: none;
        padding-left: 30px;
        font-family: $lato;
        font-weight: 300;
        cursor: pointer;
        font-size: 1.125rem;
        width: 100%;
        border-radius: 0;
    }

    .input-group-select {
        position: relative;
        background: #fff url('../img/icon-down.png') no-repeat center right 20px;
        width: 180px;
        margin-right: 20px;
    }

}

.training-filters__mode {
	display: flex;
	align-items: center;
	div:not(:last-child) {
		margin-right: 20px;
	}
}
.training-filters__status {
	opacity: .2;
	cursor: pointer;
  transition: 120ms linear;
	&.active, &:hover {
		opacity: 1;
	}
}
.training-filters__status--calendar {
	width: 26px;
	height: 26px;
	background: url('../img/icon-t-calendar.png') no-repeat center;
	background-size: cover;

}
.training-filters__status--list {
	width: 30px;
	height: 26px;
	background: url('../img/icon-t-list.png') no-repeat center;
	background-size: cover;
}

.training-calendar {
	background-color: #e6e6e6;
	border-bottom: 10px solid #fff;
	padding: 50px 0 100px 0;

	.container {
		max-width: 1020px;
	}

}

// calendar styles
.noselect {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.calendar-wrapper .clndr .days-container {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
}
.calendar-wrapper .clndr .days-container .days {
  width: 100%;
  height: auto;
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  -ms-transition: left 0.5s;
  -o-transition: left 0.5s;
  transition: left 0.5s;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.calendar-wrapper .clndr .days-container .days .day,
.calendar-wrapper .clndr .days-container .days .empty {
  display: block;
  width: 136px;
  height: 136px;
  padding: 20px;
  font-size: 0.875rem;
  font-weight: 700;
  background-color: #fff;
  margin-bottom: 5px;
  position: relative;
  border: 1px solid #e1e1e1;
}
.tcal__day-number {
	margin-bottom: 20px;
}
.tcal__day-events {
	font-weight: 300;
	display: none;
}
.tcal__day-status {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 12px;
	height: 12px;
	display: none;
	span:nth-child(1) {
		position: absolute;
		background-color: #fff;
		width: 100%;
		height: 2px;
		left: 0;
		top: 50%;
		transform: translate(0,-50%);
	}
	span:nth-child(2) {
		position: absolute;
		background-color: #fff;
		width: 2px;
		height: 100%;
		left: 50%;
		top: 0;
		transform: translate(-50%,0);
	}
}
.tcal__day-hidden {
	display: none;
	z-index: 2;
	position: absolute;
	left: 20px;
	top: calc(100% - 20px);
	width: 250px;
	max-height: 150px;
	box-shadow: 0 4px 20px rgba(0, 1, 1, 0.5);
	border: 1px solid #ffc600;
	background-color: #ffffff;
	padding: 20px;
	font-size: 0.875rem;
	font-weight: 700;
	line-height: 1.4em;
	opacity: 0;
	visibility: hidden;
	p:not(:last-child) {
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 1px solid #e6e6e6;
	}
}
.tcal__day-scroll {
	height: 100%;
	overflow: scroll;
}
.clndr .days-container .days .day.event {
	.tcal__day-events, .tcal__day-status {
		display: block;
	}
	.tcal__day-hidden {
		display: block;
	}
	&.active {
		.tcal__day-hidden {
			opacity: 1;
			visibility: visible;
		}
		.tcal__day-status {
			span:nth-child(2) {
				display: none;
			}
		}
	}
}
.calendar-wrapper .clndr .days-container .days .day.event,
.calendar-wrapper .clndr .days-container .days .empty.event {
  background-color: $orange;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
  cursor: pointer;
}
.calendar-wrapper .clndr .days-container .days .day.event:hover,
.calendar-wrapper .clndr .days-container .days .empty.event:hover {
  background-color: $orange;
}
.calendar-wrapper .clndr .days-container .days .day.adjacent-month,
.calendar-wrapper .clndr .days-container .days .empty.adjacent-month {
  color: rgba(0, 0, 0, 0.3);
  font-size: 0;
}
.calendar-wrapper .clndr .days-container .days .empty {
  height: 31px;
  vertical-align: bottom;
}
.calendar-wrapper .clndr .days-container .headers {
  display: flex;
  justify-content: space-between;
}
.calendar-wrapper .clndr .days-container .headers .day-header {
  width: 136px;
  padding-bottom: 30px;
  font-size: 0.875rem;
  font-weight: 300;
}
.calendar-wrapper .clndr .days-container .events {
  position: absolute;
  left: 294px;
  width: 294px;
  height: 217px;
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  -ms-transition: left 0.5s;
  -o-transition: left 0.5s;
  transition: left 0.5s;
  background-color: #ebebeb;
}
.calendar-wrapper .clndr .days-container .events .headers {
  position: relative;
}
.calendar-wrapper .clndr .days-container .events .event-header {
  width: 100%;
  background-color: #97ce7f;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  color: white;
}
.calendar-wrapper .clndr .days-container .events .x-button {
  position: absolute;
  font-size: 80%;
  top: 7px;
  left: 20px;
  cursor: pointer;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -ms-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
}
.calendar-wrapper .clndr .days-container .events .x-button:hover {
  color: white;
}
.calendar-wrapper .clndr .days-container .events .events-list {
  overflow: scroll;
  height: 185px;
}
.calendar-wrapper .clndr .days-container .events .events-list .event {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  -webkit-transition: background-color 0.25s;
  -moz-transition: background-color 0.25s;
  -ms-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
}
.calendar-wrapper .clndr .days-container .events .events-list .event:hover {
  background-color: #f5f5f5;
}
.calendar-wrapper .clndr .days-container .events .events-list .event a {
  position: relative;
  font-size: 12px;
  letter-spacing: 1px;
  background-color: transparent;
  color: #212121;
  text-decoration: none;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -ms-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
}
.calendar-wrapper .clndr .days-container .events .events-list .event a:hover {
  background-color: transparent;
  color: #69a776;
}
.calendar-wrapper .clndr .days-container.show-events .days {
  left: -294px;
}
.calendar-wrapper .clndr .days-container.show-events .events {
  left: 0;
}
.training-calendar .day.event {
  @extend %opacity-hover;
}