.vacancies {
    background-color: #e6e6e6;
    padding: 50px 0 50px 0;
    border-bottom: 2px solid #fff;

    .container {
        max-width: 1020px;
    }

    .col:nth-child(1) {
        flex-basis: 8%;
    }

    .col:nth-child(2) {
        flex-basis: 32%;
    }

    .col:nth-child(3) {
        flex-basis: 30%;
    }

    .col:nth-child(4) {
        flex-basis: 16%;
    }

    .col:nth-child(5) {
        flex-basis: 14%;
    }

    i.icon-new {
        font-size: 0.75rem;
        text-transform: uppercase;
        font-style: normal;
        color: #fff;
        padding: 5px 8px;
        background-color: #008ba6;
        margin-left: 14px;
    }

}

.vacancies__headers {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    font-weight: 300;
    font-size: 0.875rem;
}

.vacancies__list {
    margin-bottom: 50px;
}

.vacancies__item {
    &:not(:last-child) {
        margin-bottom: 20px;
    }
    .vacancies__item-hidden {
        padding: 0;
        height: 0;
        overflow: hidden;
    }
    &.active {
        .vacancies__item-top {
            background-color: $orange;
        }
        .vacancies__item-status {
            span:nth-child(1) {
                background-color: #fff;
            }
            span:nth-child(2) {
                display: none;
            }
        }
        .vacancies__item-hidden {
            padding: 50px 50px 50px 8%;
            height: auto;
            overflow: auto;
        }   
    }
}

.vacancies__item-top {
    cursor: pointer;
    display: flex;
    align-items: center;
    background: #fff;
    padding: 35px 0;

    .col {
        font-weight: 300;
        font-size: 0.875rem;
        &:nth-child(1) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &:nth-child(2) {
            font-weight: 700;
        }
    }

}
.vacancies__item-status {
    position: relative;
    width: 14px;
    height: 14px;
    span {
        position: absolute;
    }
    span:nth-child(1) {
        width: 14px;
        height: 4px;
        background-color: $orange;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0,-50%);
    }
    span:nth-child(2) {
        width: 4px;
        height: 14px;
        background-color: $orange;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%,0);
    }
}

.vacancies__item-hidden {
    background-color: #fff;
    display: flex;
    align-items: flex-start;
}
.vacancies__item-info {
    width: 100%;
    margin-right: 50px;
    border-right: 1px solid rgba(#252525,0.4);

    h3 {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 30px;
    }

    table {
        font-weight: 300;
        font-size: 1.1875rem;
        line-height: 1.89em;
        width: 100%;
        td:nth-child(1) {
            width: 35%;
        }
    }

}
.vacancies__item-more {
    a {
        display: inline-block;
        height: 50px;
        width: 175px;
        text-align: center;
        background-color: $blue;
        color: #fff;
        line-height: 50px;
        font-size: 1.25rem;
        @extend %blue-hover;
    }
}

.vacancies__pagination {
    font-size: 0;
    text-align: center;
    a, span {
        display: inline-block;
        font-size: 1.1875rem;
        color: #848484;
        transition: 120ms linear;
        &:not(:last-child) {
            margin-right: 30px;
        }
        &:hover {
            color: $blue;
        }
        @extend %opacity-hover;
    }
    span {
        color: $blue;
    }
}