@media all and (max-width: 1700px) {
	.header__logo {
		margin-right: 50px;
	}
}

@media all and (max-width: 1450px) {
	.header__nav {
		display: none;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		max-height: 100vh;
		height: 100%;
		overflow-y: scroll;
		z-index: 1000;
		background-color: $blue;
		padding-top: 50px;
		padding-bottom: 250px;
		padding-left: 20px;
		padding-right: 60px;
		z-index: 11;
		&.active {
			display: block;
			-webkit-overflow-scrolling: touch;
		}
		ul {
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 100%;
		}
		.header__nav-link:not(:last-child) {
			margin-right: 0;
			margin-bottom: 10px;
		}
		.header__nav-link.active {
			& > a {
				color: $orange;
			}
			.header__nav-hidden {
				display: block;
			}
		}
		.header__nav-hidden {
			display: none;
			position: static;
			left: 0;
			top: 0;
			opacity: 1;
			visibility: visible;
			padding: 0;
			background-color: transparent;
		}
		.header__nav-hidden .container {
			flex-wrap: wrap;
			padding-left: 0;
			padding-right: 0;
			padding-top: 20px;
			padding-bottom: 40px;
			max-width: 100%;
		}
		.header__nav-hidden .col {
			flex-basis: 50%;
		}
		.header__nav-link:not(:last-child) {
			margin-bottom: 2rem;
		}
		.header__nav-link>a {
			font-size: 2rem;
		}
	}
	.header__burger {
		display: flex;
		z-index: 12;
	}
}

@media all and (max-width: 1200px) {
	.container {
		max-width: 1180px;
	}
	.footer .col:not(:last-child) {
		margin-right: 50px;
	}
	.footer__socials a:not(:last-child) {
		margin-right: 25px;
	}
}

@media all and (max-width: 992px) {
	body {
		overflow-x: hidden;
	}
	html {
		font-size: 14px;
	}
	.header__top {
		padding: 30px 20px 0 20px;
	}
	.container {
		max-width: 960px;
	}
	.footer__top .container {
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.footer__logo {
		margin-right: 40px;
		img {
			max-width: 170px;
		}
	}
}

@media all and (max-width: 768px) {
	html {
		font-size: 12px;
	}
	.container {
		max-width: 940px;
	}
	.header__top-right {
		display: none;
	}
	.header__top {align-items: center;}
	.header__burger {
		margin-left: auto;
		margin-top: 0;
	}
	.header__logo {
		margin-right: 0;
	}
	.header__content {
		background-size: auto 100%;
		background-position: right 30% top;
	}
	.header__burger {
		height: 27px;
		width: 30px;
		span {
			height: 3px;
		}
	}
	.footer .col {
		flex-basis: 100%;
	}
	.footer .col:not(:last-child) {
		margin-right: 0;
	}
	.footer__logo, .footer .col {
		margin-bottom: 25px;
	}
	.footer__socials {
		margin-left: 0;
	}
	.footer__bottom .container {
		flex-wrap: wrap;
		justify-content: center;
	}
	.footer__bottom {
		text-align: center;
	}
	.footer__author {
		flex-basis: 100%;
		margin-top: 10px;
	}
	.footer__bottom span {
		flex-basis: 100%;
		text-align: center;
		margin-top: 10px;
	}
	.footer__bottom a:nth-child(2) {margin-right: 0;}
}

@media all and (max-width: 576px) {
	.header__top {
		padding-left: 10px;
		padding-right: 10px;
	}
	.container {
		max-width: 560px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.header__logo img {
		max-width: 170px;
	}
}