@media all and (max-width: 1200px) {
	
}

@media all and (max-width: 992px) {
	.header__slide .container {
		padding-top: 130px;
		padding-bottom: 130px;
	}
	.header h1 {
		font-size: 4rem;
		line-height: 1.5em;
	}
}

@media all and (max-width: 768px) {
	.header__slide .container {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.header h1 {
		font-size: 3rem;
		line-height: 1.5em;
	}
	.header__slide {
		background-position: right 30% top;
	}
	.header__slider-button {
		width: 150px;
	}
	.home-links__item {
		width: 100%;
		background-position: center top 20%;
		padding: 20px;
		height: 50vw;
		max-height: 200px;
		br {
			display: none;
		}
	}
	.home-links__item:before {
		background: rgba(#000,0.2);
	}
	.home-links__item span {
		position: relative;
		left: 0;
		top: 0;
	}
	.home-quote__photo {
		display: none;
	}
	.home-quote__block {
		left: 0;
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}
	.home-info .container {
		flex-direction: column;
		.col {
			max-width: 100%;
			&:not(:last-child) {
				margin-bottom: 50px;
			}
		}
	}
	.home-sub form {
		flex-direction: column;
		width: 100%;
		input {
			width: 100%;
			flex-basis: 100%;
			margin-bottom: 20px;
		}
		button {
			width: 100%;
			max-width: 200px;
		}
	}
	.home-links__title {
		font-size: 2.5rem;
		line-height: 1.2em;
	}
	.home-links__subtitle {
		br {
			display: none;
		}
	}
	.home-info {
		padding: 50px 0;
	}
}

@media all and (max-width: 576px) {
	
}