@media all and (max-width: 1200px) {
	
}

@media all and (max-width: 992px) {
	.training-filters .container {
		flex-direction: column-reverse;
		justify-content: center;
	}
	.training-filters__right {
		margin-left: 0;
		margin-bottom: 20px;
	}
	.training-filters .dselector__selected {
		min-width: 250px;
	}
	.training-filters {
		padding: 50px 0;
	}
	.calendar-wrapper .clndr .days-container .days .day, .calendar-wrapper .clndr .days-container .days .empty {
		width: calc( (100% - 8px) / 7 );
		height: calc( (100vw - 8px) / 7 );
		margin-bottom: 2px;
	}
}

@media all and (max-width: 768px) {
	.join-form .two-links__item, .text-block .two-links__item {
		width: calc( (100% - 20px) / 2 );
		padding: 35px 50px;
	}
	.aff-cal__list {
		flex-direction: column;
		align-items: center;
	}
	.aff-cal__item {
		width: 100%;
		max-width: 400px;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
	.atm {
		padding: 50px 0 75px 0;
	}
	.login-form {
		padding: 50px;
	}
	.vacancies__item-top {
		padding: 20px 0;
	}
	.vacancies__item-top .col {
		text-align: center;
	}
	.vacancies__item-top .col:nth-child(2) {
		text-align: left;
	}
	.vacancies__item.active .vacancies__item-hidden {
		padding: 25px;
	}
	.vacancies__item-hidden {
		flex-direction: column;
	}
	.vacancies__item-info {
		margin-right: 0;
		border-right: 0;
		margin-bottom: 20px;
		border-bottom: 1px solid rgba(37,37,37,.2);
		padding-bottom: 20px;
	}
	.vacancies__headers {
		text-align: center;
		.col:nth-child(2) {
			text-align: left;
		}
	}
	.join-form {
		padding: 50px;
	}
	.members__item {
		padding: 35px;
		&:before {
			background-color: rgba(0,0,0,.45);
		}
	}
	.members__item-hidden {
		opacity: 1;
		visibility: visible;
	}
	.news__row {
		flex-direction: column;
	}
	.news__postsm {
		width: 100%;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
	.news__postsm-photo {
		padding-bottom: 0;
		height: 40vw;
	}
	.team__item {
		width: calc( (100% - 20px) / 2 );
	}
	.resources__item {
		height: auto;
		padding: 20px;
	}
	.calendar-wrapper .clndr .days-container .days .day, .calendar-wrapper .clndr .days-container .days .empty {
		padding: 5px;
	}
	.clndr .days-container .days .day.event .tcal__day-events {
		display: none;
	}
	.clndr .days-container .days .day.event .tcal__day-status {
		right: 5px;
		top: 5px;
		height: 10px;
		width: 10px;
	}
}

@media all and (max-width: 576px) {
	.text-block {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.join-form .two-links, .text-block .two-links {
		flex-direction: column;
		margin-bottom: 50px;
	}
	.join-form .two-links__item, .text-block .two-links__item {
		width: 100%;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
	.join-form .links-list li, .text-block .links-list li {
		width: 100%;
	}
	.aff-post {
		padding: 50px 0;
	}
	.aff-post__box {
		flex-direction: column-reverse;
	}
	.aff-post__photo {
		height: 50vw;
	}
	.aff-cal {
		padding: 50px 0;
	}
	.contact {
		padding: 50px 0;
		.col:nth-child(2) {
			margin-bottom: 50px;
		}
		.container {
			flex-direction: column-reverse;
		}
	}
	.header__content-links {
		height: 50px;
	}
	.header__content-links a {
		line-height: 50px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.download-login {
		padding: 50px 0;
	}
	.download__list {
		margin-bottom: 25px;
		margin-top: 50px;
	}
	.login-form {
		flex-direction: column;
		padding: 50px 25px;
		.col:nth-child(1), .col:nth-child(2) {
			flex-basis: 100%;
			width: 100%;
		}
		h2 br {display: none;}
		.col:not(:last-child) {
			margin-bottom: 25px;
		}
	}
	.login-page {
		padding-top: 150px;
		padding-bottom: 50px;
	}
	.members__list {
		flex-direction: column;
		margin-top: 50px;
	}
	.members__list .col {
		width: 100%;
		max-width: 100%;
	}
	.members__item, .members__item--large, .members__item-wide {
		margin-bottom: 20px;
		height: auto;
	}
	.news {
		padding: 50px 0;
	}
	.news__categories form {
		flex-wrap: wrap;
		button {
			flex-basis: 100%;
			margin-top: 20px;
		}
	}
	.news__categories form .input-group-select:nth-child(1), .news__categories form .input-group-select:nth-child(2) {
		flex-basis: 48%;
	}
	.news__postsm-content {
		padding: 40px 20px;
	}
	.aff-post__content {
		padding: 40px 20px;
	}
	.team__item {
		width: calc( (100% - 10px) / 2 );
	}
	.team__list {
		margin-top: 50px;
		margin-bottom: 30px;
	}
	.personal {
		padding: 50px 0;
	}
	.personal .container {
		flex-direction: column;
		.col:nth-child(1) {
			margin-bottom: 20px;
			width: 100%;
		}
	}
	.personal__photo {
		width: 100%;
		img {
			max-width: 200px;
			margin: 0 auto;
		}
	}
	.resources__item {
		width: 100%;
	}
	.training-filters__right {
		flex-wrap: wrap;
		justify-content: center;
	}
	.training-filters__right .input-group-select {
		flex-basis: 48%;
		margin-right: 0;
		&:nth-child(1) {
			margin-right: 5px;
		}
	}
	.training-filters__mode {
		flex-basis: 100%;
		justify-content: center;
		margin-top: 20px;
	}
	.training-calendar {
		padding: 50px 0;
	}
}