html {
    font-size: 16px;
}

.locked {
    overflow: hidden;
}

body {
    font-family: $lato;
    background-color: #fff;
    color: #252525;
    font-weight: 400;
    position: relative;
    &:before {
        content: '';
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        transition: 200ms ease-in-out;
        z-index: 10;
    }
    &.loaded {
        &:before {
            opacity: 0;
            visibility: hidden;
        }
    }
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1220px;
    padding: 0 20px;
}

b {
    font-weight: 500;
}