@font-face {
  font-family: 'Lato';
  src: url(../fonts/Lato-Medium.eot);
  src: url(../fonts/Lato-Medium.eot?#iefix) format('embedded-opentype'),
  url(../fonts/Lato-Medium.woff) format('woff'),
  url(../fonts/Lato-Medium.ttf) format('truetype'),
  url(../fonts/Lato-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
}