$lato: 'Lato', Arial, sans-serif;

// colors
$orange: #ffc600;
$blue: #395575;

// hover states
%blue-hover {
    transition: 120ms linear;
    &:hover {
        background-color: darken($blue, 5%);
    }
}
%orange-hover {
    transition: 120ms linear;
    &:hover {
        background-color: darken($orange, 5%);
    }
}
%opacity-hover {
    transition: 120ms linear;
    &:hover {
        opacity: 0.6;
    }
}